doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		link(rel="stylesheet" href="normalize.css")
		link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
		link(href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet")
		link(rel="stylesheet" href="style.css")
		script(src="http://code.jquery.com/jquery-1.8.3.js")
		// <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
		// Логика для магазина и меню
		script(type="text/javascript" src="./scripts/menu_shop_logic.js")
		// Якоря переходов
		script(type="text/javascript" src="./scripts/anchor_links.js")
		// menu
		script(type="text/javascript" src="./scripts/order_menu.js")
		// shop
		script(type="text/javascript" src="./scripts/order_shop.js")
		title Dabba
	body
		.container-fluid
			.row
				header.col-12
					.row
						.col-6.offset-1
							img.logo(src="img/logo.svg" alt="")
							.Tblock
								h3 Вкусные и полезные обеды
								.content
									| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet aliquam
									| ipsum. Aenean eget est eget mi viverra scelerisque dignissim quis dolor. In dolor turpis, tincidunt et
									| eros sit amet, dictum iaculis velit. Sed nec mauris urna. Maecenas accumsan ornare mauris ac efficitur.
									| Fusce maximus suscipit ante sit amet laoreet. Morbi sit amet tempus leo.
						.col-4.offset-1
							.row.justify-content-center
								.contacts.d-flex
									img(src="img/phone-contact.svg" alt="")
									div
										a.d-block(href="tel:+38050123659845") +38(050)-123-65-98
										a.d-block(href="mailto:dabba@gmail.com") dabba@gmail.com
			.row
				.col-12.callus
					.row
						.col-6.offset-3
							.row.justify-content-center
								h3 Lorem ipsum dolor sit amet consectetur
					.row
						.col-3.offset-1
							.row.justify-content-center
								.circle0 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						.col-4
							.row.justify-content-center
								.circle1 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						.col-3
							.row.justify-content-center
								.circle2 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			.row
				.col-12.menu
					.row.justify-content-center
						.col-5.offset-1
							.row.justify-content-center(onclick="showMenu()")
								.menu_wrapper
									.block
										a.nav_link(href="#menu") Меню
						.col-5
							.row.justify-content-center(onclick="showShop()")
								.shop_wrapper
									.block
										a.nav_link(href="#shop") Магазин
			.row
				.col-12.shop
					#menu.display_none.row.justify-content-center
						.shop_menu.shop_list
							| Меню недели 23/12-27/12
							button(onclick="showMenu()")
								img(src="img/arrow_down.svg")
						#goods.row.col-10.offset-1
							//
								<div class="col-4">
								<div class="block_tov">
								<div><span class="block_tov_name" id="block_tov_name_1">Name</span><span class="block_tov_price">80
								uan</span></div>
								<div class="block_tov_body"><img src="img/tov.jpg">
								<div class="block_tov_body_menu">
								<button class="block_tov_body_menu_minus" id="btn_menu_minus_1"
								onclick="javascript:btnClickLess_1()">-</button><span class="block_tov_body_menu_total"
								id="timesClicked_1">0</span>
								<button class="block_tov_body_menu_plus" onclick="javascript:btnClickMore_1()">+</button>
								</div>
								<input type="checkbox" id="menu_chbox_1" onchange="funChBox_menu_1()">
								</div>
								<div class="components">
								<h4>Состав:</h4>
								<div class="menu">
								<div class="component"><span class="name">Нут</span><span class="separator"></span><span
								class="desc">100г</span></div>
								<div class="component"><span class="name">Нут</span><span class="separator"></span><span
								class="desc">100г</span></div>
								<div class="component"><span class="name">Нут</span><span class="separator"></span><span
								class="desc">100г</span></div>
								<div class="component"><span class="name">Нут</span><span class="separator"></span><span
								class="desc">100г</span></div>
								<div class="component"><span class="name">Нут</span><span class="separator"></span><span
								class="desc">100г</span></div>
								</div>
								</div>
								</div>
								</div>
						.row.justify-content-center
							.col-4
								.shop_by
									button Оформить заказ
									p или продолжить покупки
									img(src="img/arrow.svg")
				.row
					#shop.col-10.offset-1.shop.display_none
						.row.justify-content-center
							.col-4
								.shop_menu.tab-pane.container
									| Заказывают вместо или вместе с обедами 
									button(onclick="showShop()")
										img(src="img/arrow_down.svg")
						#goods_shop.row.col-10.offset-1
							.row.justify-content-center
								.col-4
									.shop_by.shop_last
										button Оформить заказ
					.row
						.col-12.mail
							.row
								.col-1
								.col-5.menu
									.row.justify-content-center
										.your Ваш заказ
										fieldset
											legend *Доставка 24.12
											img(src="img/tov.jpg")
											span.name Name
											span.control
												span.wrap_control
													button.minus -
													span.total 1
													button.plus +
												button.del X
											span.total 80 uan
										fieldset
											legend *Доставка 24.12
											img(src="img/tov.jpg")
											span.name Name
											span.control
												span.wrap_control
													button.minus -
													span.total 1
													button.plus +
												button.del X
											span.total 80 uan
										.total Итог к опдате: 700 грн
								.col-5.send
									.row.justify-content-center
										form(action="")
											.form-group
												input#exampleInputEmail1.form-control(type="email" aria-describedby="emailHelp" placeholder="Имя*")
											.form-row
												.col
													input.form-control(type="text" placeholder="Телефон*")
												.col
													input.form-control(type="text" placeholder="Email")
											.form-group
												select.form-control
													option 1
													option 2
													option 3
													option 4
													option 5
											.form-row
												.col
													input.form-control(type="text" placeholder="Дом*")
												.col
													input.form-control(type="text" placeholder="Квартира*")
											.form-group
												textarea#exampleFormControlTextarea1.form-control(rows="3" placeholder="Примечания")
					.row
						.col-12
							.row.justify-content-center.blog
								.col-4
									.blog_name Dabba делится секретами
								.col-12.blog_list
									.item
										img(src="img/item_0.jpg")
										h3 Lorem ipsum blablabla
										p(onclick="closeSpoiler1(this)")
											| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit
											| amet aliquam ipsum. Aenean eget
											| est
											| eget mi viverra scelerisque dignissim quis dolor. In dolor turpis, tincidunt et eros sit amet,
											| dictum...
											span#spioler1(style="display:none" onclick="closeSpoiler1(this)")
												| iaculis velit. Sed nec mauris
												| urna. Maecenas accumsan ornare
												| mauris ac efficitur. Fusce
												| maximus
												| suscipit
												| ante sit amet laoreet. Morbi sit amet tempus leo.Lorem ipsum dolor sit amet, consectetur
												| adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Id ornare arcu
												| odio ut sem nulla pharetra diam. Rhoncus aenean vel elit scelerisque mauris pellentesque pulvinar
												| pellentesque. Felis imperdiet proin fermentum leo. Eros donec ac odio tempor orci dapibus
												| ultrices. In dictum non consectetur a erat. Risus quis varius quam quisque id diam. Mollis nunc
												| sed id semper risus. Sit amet mauris commodo quis imperdiet massa tincidunt nunc. Elit eget
												| gravida cum sociis natoque. Lacus laoreet non curabitur gravida arcu. Est velit egestas dui id
												| ornare arcu. Penatibus et magnis dis parturient. Integer quis auctor elit sed vulputate mi.
												| Cum sociis natoque penatibus et. Fermentum odio eu feugiat pretium nibh ipsum consequat. Eget est
												| lorem ipsum dolor sit amet consectetur. Enim tortor at auctor urna nunc id. Enim nunc faucibus a
												| pellentesque sit amet porttitor eget dolor. In egestas erat imperdiet sed euismod. Volutpat lacus
												| laoreet non curabitur gravida arcu ac tortor. Quis viverra nibh cras pulvinar mattis. Nunc
												| faucibus a pellentesque sit amet porttitor eget dolor morbi. Urna nunc id cursus metus aliquam
												| eleifend mi in nulla. Sit amet nisl suscipit adipiscing bibendum. Sem viverra aliquet eget sit.
												| Turpis egestas maecenas pharetra convallis posuere. Mauris vitae ultricies leo integer malesuada
												| nunc. Risus feugiat in ante metus dictum.
												| Ac tincidunt vitae semper quis. Cum sociis natoque penatibus et magnis dis parturient montes
												| nascetur. Neque laoreet suspendisse interdum consectetur libero id faucibus nisl. Odio facilisis
												| mauris sit amet massa vitae tortor. Nibh sit amet commodo nulla facilisi nullam vehicula ipsum.
												| Velit aliquet sagittis id consectetur. Volutpat blandit aliquam etiam erat velit scelerisque in.
												| Pulvinar neque laoreet suspendisse interdum consectetur. Nullam ac tortor vitae purus. Nulla
												| facilisi morbi tempus iaculis urna id volutpat lacus laoreet. Adipiscing enim eu turpis egestas
												| pretium aenean. Fusce id velit ut tortor pretium. Ultricies integer quis auctor elit sed vulputate
												| mi sit amet.
										button#but_spo1(onclick="openSpoiler1(this)")
											p.center read more
											img(src="img/arrow.svg")
									.item
										img(src="img/item_1.jpg")
										h3 Text text text
										p(onclick="closeSpoiler2(this)")
											| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit
											| amet aliquam ipsum. Aenean eget
											| est
											| eget mi viverra scelerisque dignissim quis dolor. In dolor turpis, tincidunt et eros sit amet,
											| dictum...
											span#spioler2(style="display:none" onclick="closeSpoiler2(this)")
												| iaculis velit. Sed nec mauris
												| urna. Maecenas accumsan ornare
												| mauris ac efficitur. Fusce
												| maximus
												| suscipit
												| ante sit amet laoreet. Morbi sit amet tempus leo.Lorem ipsum dolor sit amet, consectetur
												| adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Id ornare arcu
												| odio ut sem nulla pharetra diam. Rhoncus aenean vel elit scelerisque mauris pellentesque pulvinar
												| pellentesque. Felis imperdiet proin fermentum leo. Eros donec ac odio tempor orci dapibus
												| ultrices. In dictum non consectetur a erat. Risus quis varius quam quisque id diam. Mollis nunc
												| sed id semper risus. Sit amet mauris commodo quis imperdiet massa tincidunt nunc. Elit eget
												| gravida cum sociis natoque. Lacus laoreet non curabitur gravida arcu. Est velit egestas dui id
												| ornare arcu. Penatibus et magnis dis parturient. Integer quis auctor elit sed vulputate mi.
												| Cum sociis natoque penatibus et. Fermentum odio eu feugiat pretium nibh ipsum consequat. Eget est
												| lorem ipsum dolor sit amet consectetur. Enim tortor at auctor urna nunc id. Enim nunc faucibus a
												| pellentesque sit amet porttitor eget dolor. In egestas erat imperdiet sed euismod. Volutpat lacus
												| laoreet non curabitur gravida arcu ac tortor. Quis viverra nibh cras pulvinar mattis. Nunc
												| faucibus a pellentesque sit amet porttitor eget dolor morbi. Urna nunc id cursus metus aliquam
												| eleifend mi in nulla. Sit amet nisl suscipit adipiscing bibendum. Sem viverra aliquet eget sit.
												| Turpis egestas maecenas pharetra convallis posuere. Mauris vitae ultricies leo integer malesuada
												| nunc. Risus feugiat in ante metus dictum.
												| Ac tincidunt vitae semper quis. Cum sociis natoque penatibus et magnis dis parturient montes
												| nascetur. Neque laoreet suspendisse interdum consectetur libero id faucibus nisl. Odio facilisis
												| mauris sit amet massa vitae tortor. Nibh sit amet commodo nulla facilisi nullam vehicula ipsum.
												| Velit aliquet sagittis id consectetur. Volutpat blandit aliquam etiam erat velit scelerisque in.
												| Pulvinar neque laoreet suspendisse interdum consectetur. Nullam ac tortor vitae purus. Nulla
												| facilisi morbi tempus iaculis urna id volutpat lacus laoreet. Adipiscing enim eu turpis egestas
												| pretium aenean. Fusce id velit ut tortor pretium. Ultricies integer quis auctor elit sed vulputate
												| mi sit amet.
										button#but_spo2(onclick="openSpoiler2(this)")
											p.center read more
											img(src="img/arrow.svg")
					.row
						footer.col-12
							.row.justify-content-center.mask
								.col-4
									img(src="img/logo.svg")
									hr
									.contact
										a.d-block(href="tel:+38050123659845") +38(050)-123-65-98
										a.d-block(href="mailto:dabba@gmail.com") dabba@gmail.com
									.powered_by_WEEM
										span
											a(href="https://weem.pro") Powered by WEEM
											|  © 2019
